*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* rgb(242,242,242) */
/* rgb(35,31,32) */
.navbar{
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.styleLinks{
  text-decoration: none !important;
  color: black;
}

.outletContainer{
  margin-top: 65px;
  padding: 10px;
  background-color: rgb(242,242,242);
}

.inputForm{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.inputForm input{
  padding: 10px;
  flex: 1;
  border: none;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.inputButton{
  display: flex;
  align-items: center;
}

.inputButton button{
  padding: 10px;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  font-weight: bold;
  font-size: 0.9rem;
}

.hover:hover{
  cursor: pointer;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.clipUserName{
  font-style: italic;
  font-weight: bold;
}

.clipItem{
  display: flex;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.clipItem button{
  padding: 5px;
}

.settingsOpt{
  width: 100%;
  padding: 10px;
}

.settingsBack{
  padding: 10px;
  font-size: 1.1rem;
}

@media (min-width: 768px){
  .app{
    width: 60vw;
    margin: auto;
  }
  .navbar{
    width: 60vw;
    margin: auto !important;
  }
}

